<div class="card componentStyle">
    <table style="width: 1000px;text-align: center;margin: auto;">
        <tr>
            <td style="width: 48%;">
                <img style="border-radius: 50%;height: 200px;width: 200px;" [src]="imgUrl">

            </td>
            <td style="width: 4%;">
                <div style="border-left: 3px solid green;height: 100px"></div>
            </td>
            <td style="width: 48%;">
                <h5>
                    Cashapona Technologies is 100% boot strapped by Industry veterans,
                    who has more than cumulative 65+ years of IT experience with deep passion to bring Delivery
                    excellence and DRFT experience to the customers.
                    Team of Researchers, Academicians, Practitioners with strong academic

                </h5>
            </td>
        </tr>
    </table>
</div>